<h1>Dashboard</h1>

<h3>Your Active Items</h3>

<%= render :partial => "todo_items/list", :locals => { :items => current_user.todo_items.active, :perpage => 15, :pageparam => :page_own } %>

<h3>All Active Items</h3>

<%= render :partial => "todo_items/list", :locals => { :items => current_user.all_todo_items.active, :perpage => 10, :pageparam => :page_all } %>
