# Be sure to restart your server when you modify this file.

Devise.setup do |config|
  # ==> Mailer Configuration
  config.mailer_sender = "please-change-me-at-config-initializers-devise@example.com"
end

Sudu::Application.configure do
  # for more see config/environments/production.rb
  config.action_mailer.default_url_options = { :host => 'todo.example.com', :protocol => 'https' }

  # Your secret key for verifying the integrity of signed cookies.
  # If you change this key, all old signed cookies will become invalid!
  # Make sure the secret is at least 30 characters and all random,
  # no regular words or you'll be exposed to dictionary attacks.
  #
  # you can generate a token with: rake secret
  config.secret_token = ''

  # allow users to sign up
  # config.allow_registration = true
end
