.feedicon-small {
  display: inline-block;
  width: 14px;
  height: 14px;
  margin-top: 1px;
  line-height: 14px;
  vertical-align: text-top;
  background-image: url("feed-icon-14x14.png");
  background-repeat: no-repeat;
}
